body  {
    background-color: #111111;
    margin: 0px;
    font-family: 'Segoe UI', Frutiger-serif;
}

.nav {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 4%;
    padding: 25px 0px 25px 0px;
    border-bottom: 2px solid #6af565;
    background-color: #1a1a1a;
}

#contactDiv /*center box div*/ {
    font-size: 30px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; */
    width: 70%;
    /* height: 40%; */
    margin-left: 15%;
    margin-top: 5%;
    padding: 25px 0px;
    border-radius: 15px;
    background-color: #272727;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
    height: 4.5%;
    margin-left: 1%;
    margin-bottom: 2.5%;
}

.banner {
    font-size: 27px;
    text-align: left;
    color: #e2e2e2;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    float: right;
}

#searchBar {
	font-size: 24px;
}

#searchButton {
    width: 10%;
}

input {
    text-align: center;
    font-family: 'Segoe UI', Frutiger-serif;
}

input[type="text"] {
    /* position: relative;
    margin-left: 0%; 
    margin-top: -25%;
    width: 50%; */
    width: 60%;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.add-button {
    width: 5%;
	font-size: 15px;
	/* position: absolute;
	margin-left: 90%; */
	border-color: transparent;
    color: #6af565;
    background-color: #1a1a1a;
    border-radius: 12px;
}

.add-button:hover {
    color:#000000;
    text-decoration: none;
    cursor: pointer;
    border-color: transparent;
    background-color: #6af565;
}

#logout {
    width: 5em;
}

table {
    font-size: 20px;
    align-self: center;
    position: relative;
    border-spacing: 0px;
    width: 98%;
    margin-left: 1%;
    color: #6af565;
    background-color: #494949;
}

thead th {
    border-bottom: 3px solid #6af565;
}

thead {
    font-size: 24px;
    height: 3.5em;
    background-color: #1a1a1a;
    pointer-events: none;
}

td {
    font-size: 20px;
    text-align: center;
    padding-left: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #6af565;
    color: #e2e2e2;
}

tr {
    height: 3em;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background-color: #2d6a4f;
}

.button {
    font-size: 15px;
    color: #000000;
    background-color:#6af565;
    position: relative;
    width: 80%;
    display: inline-block;
    border-radius: 15px;
    border-color: transparent;
    padding: 5px 0px;
}

.button:hover {
    background-color: #000000;
    color: #6af565;
    opacity: 100%;
    text-decoration: none;
    cursor: pointer;
    border-color: transparent;
}

.error  {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
    border-color: red;
}

.modal-container {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, .5);
    /* add transparent background */
}

.modal-content {
    opacity: 1 !important;
    width: 20%;
    height: 20%;
    background-color: white;
    border-radius: 15px;
}