body {
    background: repeating-linear-gradient(45deg, #0c0c0c,#111111 144px);
    margin: 0;
    display: inline-block;
	width: 100%;
	vertical-align: middle; 
	overflow: hidden; 
}

#title {
    font-size: 60px;
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Frutiger-serif;
    color: #6af565;
}

hr {
    align-self: center;
    margin-top: 1%;
    margin-bottom: 2%;
    color:#6af565;
    border-color: #6af565;
    width: 30%;
}

#banner {
    font-size: 27px;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Segoe UI', Frutiger-serif;
    color: #6af565;
}

#loginDiv {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-size: 30px;
    width: 50%;
    padding: 25px 0px 25px 0px;
    background-color: #272727;
    border-radius: 15px;
    box-shadow:0 0 5px 5px #6af565;
}

.containter {
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.buttons {
    color: #000000;
    border-color: transparent;
    font-size: 24px;
    width: 12%;
    background-color:#6af565;
    display:inline-block;
    font-family: 'Segoe UI', Frutiger-serif;
    border-radius: 15px;
}

.buttons:hover {
    background-color: #000000;
    color: #6af565;
    opacity: 100%;
    text-decoration: underline;
    cursor: pointer;
}

.error {
    border-color: red;
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

.input {
    font-size: 24px;
}

.input:focus {
    border-color: #6af565;
    box-shadow: 0 0 6px 6px #6af565;
}

#registerLink {
    font-family: 'Segoe UI', Frutiger-serif;
    margin-top: 2.5%;
    text-decoration: none;
    color: #6af565;
    font-size: 18px;
}

#registerLink:hover {
    text-decoration: underline;
}

input[type="text"],input[type="password"] {
    text-align: center;
    background-color: #FFFFFF;
    width: 50%;
    margin-bottom: 2%;
    font-family: 'Segoe UI', Frutiger-serif;
    border-radius: 12px;
}

#loginResult {
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    width: 90%;
    text-align: center;
    margin-bottom: 1%;
    font-family: 'Segoe UI', Frutiger-serif;
    color: #ff0008;
}

#home {
  clip-path: url(#cache);
}

#line {
  fill: none;
  opacity: .55;
  stroke: #6af565;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 15s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.15;
  }
}