body 
{
    background-color: #111111;
}

#title 
{
    font-size: 60px;
    width: 100%;
    /*margin: 2% 5%;*/
    text-align: center;
    font-family: 'Segoe UI', Frutiger-serif;
    color: #6af565;
}

hr {
    align-self: center;
    margin-top: 1%;
    margin-bottom: 2%;
    color:#6af565;
    border-color: #6af565;
    width: 30%;
}

#banner 
{
    font-size: 27px;
    width: 100%;
    /*margin: 2% 5%;*/
    margin-top: 0%;
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Segoe UI', Frutiger-serif;
    color: #6af565;
}

#loginDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-size: 30px;
    width: 50%;
    padding: 25px 0px 25px 0px;
    background-color: #272727;
    border-radius: 15px;
}

.containter {
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.buttons
{
    border-color: black;
    font-size: 24px;
    /*border-radius: 25px;*/
    width: 15%;
    background-color:#FFFFFF;
    /* margin-left: 20%; */
    display:inline-block;
    font-family: 'Segoe UI', Frutiger-serif;
    border-radius: 15px;
}

.buttons:hover{
    background-color: #6af565;
    color: #000000;
    opacity: 100%;
    text-decoration: underline;
    cursor: pointer;
}

.error {
    border-color: red;
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

.input {
    font-size: 24px;
}

#registerLink {
    font-family: 'Segoe UI', Frutiger-serif;
    margin-top: 2.5%;
    text-decoration: none;
    color: #6af565;
}

#registerLink:hover {
    text-decoration: underline;
}

input[type="text"],input[type="password"]{
    /*border-radius: 25px;*/
    text-align: center;
    background-color: #FFFFFF;
    /* margin-left: 10%; */
    width: 50%;
    margin-bottom: 2%;
    font-family: 'Segoe UI', Frutiger-serif;
    border-radius: 12px;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    width: 90%;
    text-align: center;
    /* margin-left: 5%; */
    margin-bottom: 1%;
    font-family: 'Segoe UI', Frutiger-serif;
    color: #ff0008;
}
