body 
{
    background-color: #111111;
    /*background-image: url('82701028-happy-multiethnic-friends-casual-people-having-fun-sitting-on-couch-indoors-and-laughing.jpg');*/
}

#title 
{
    font-size: 60px;
    width: 100%;
    /*margin: 2% 5%;*/
    text-align: center;
    font-family: 'Segoe UI', Frutiger-serif;
    color: #6af565;
}

#banner 
{
    font-size: 27px;
    width: 100%;
    /*margin: 2% 5%;*/
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Segoe UI', Frutiger-serif;
    color: #6af565;
}

#loginDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-size: 30px;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    padding: 25px 0px 25px 0px;
    background-color: #272727;
    border-radius: 15px;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    /* margin-left: 15%; */
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    /* margin-left: 15%; */
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    border-color: black;
    font-size: 30px;
    /*border-radius: 25px;*/
    width: 20%;
    background-color:#FFFFFF;
    /* margin-left: 20%; */
    display:inline-block;
    font-family: 'Segoe UI', Frutiger-serif;
    border-radius: 15px;
}

.buttons:hover{
    background-color: #6af565;
    color: #000000;
    opacity: 100%;
    text-decoration: underline;
    cursor: pointer;
}

.error {
    border-color: red;
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

#registerLink {
    font-family: 'Segoe UI', Frutiger-serif;
    margin-top: 2.5%;
    text-decoration: none;
    color: #6af565;
}

#registerLink:hover {
    text-decoration: underline;
}

input[type="text"],input[type="password"]{
    /*border-radius: 25px;*/
    text-align: center;
    background-color: #FFFFFF;
    /* margin-left: 10%; */
    width: 50%;
    margin-bottom: 2%;
    font-family: 'Segoe UI', Frutiger-serif;
    border-radius: 12px;
}

#inner-title{
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
    width: 90%;
    text-align: center;
    margin-top: 0%;
    /* margin-left: 5%; */
    margin-bottom: 2%;
    font-family: 'Segoe UI', Frutiger-serif;
    color: #FFFFFF;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    /* margin-left: 5%; */
    margin-bottom: 2%;
    font-family: 'Segoe UI', Frutiger-serif;
    color: #ff0008;
}

#userName{
    
    display: inline-block;
    width: 80%;
    /* margin-left: 10%; */
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Segoe UI', Frutiger-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Segoe UI', Frutiger-serif;
    color: #95060a;
}